 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I work on clinical bioinformatics research in immunology and skeletal medicine. I'm passionate about data science and machine learning in a clinical research setting, maximising the valuable data we have.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm highly proficient in R, and love taking on new and complex data science problems. Take a look at my CV and projects, if you ever want a chat about a project, or job, then get in touch!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
